/** Font **/


@font-face {
    font-family: "aniron";
    src: url("font/anicm___.ttf");
}

@font-face {
    font-family: "annatar";
    src: url("font/tngan.ttf");
}

@font-face {
  font-family: "partybusiness";
  src: url(font/partybusiness.ttf);

}


/**cardfellows**/

.card {
  padding: 0;
  margin-right: 20px;
  margin-left: 15px;
}
.card-img-top {
    opacity: 0.4;
    border: 5px solid black;
}

.card-img-top:hover {
    opacity: 1;
}
.card:hover .reward {
    visibility: hidden;
}

.cardF{
    background-color: #131313;
}

.reward {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    text-align: center;
    position: absolute;
    line-height: 30px;
    align-content: center;
    left: 3%;
    top: 9%;
    font-family: 'aniron';
    font-size: 1.6em;

    
}

.card-title {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 0%;
    top: 30%;
    font-size: 3em!important;
    opacity: 1;
}

.card:hover .card-title {
    width: 100%;
    text-align: center;
    position: absolute;
    right: 0%;
    top: 40%;
    transition: 0.7s ease;
    font-size: 2em;
    opacity: 1;
    z-index: 1000;
}

.card-text {
    color: white;
    font-family: 'partybusiness';
    font-size: 1.5em;
}

.dead {
  color: #ff5000;
  font-size: 3em;
  font-family: 'partybusiness';
  width: 100%;
  text-align: center;
  position: absolute;
  right: 0%;
  top: 10%;
 
}
.card:hover .dead {
    visibility: hidden;
}

.orange {
    color: #ff5000;
}

.namegimli {
    color: #fff;
    font-size: 3em;
    font-weight: lighter;
    text-decoration-color: #ff5000;
    text-decoration-line:line-through!important; 
}

/* text */ 

.text-left {
  
  font-size: 1.2em;
  font-family: 'partybusiness';
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
}  

.text {
  padding-left: 50px;
   
}

p {
  font-family: 'partybusiness';
  font-size: 1.5em;
}
.fontb {
  font-weight: bold;
}

/* form, table */

form {
  padding-left: 20px;
  font-family: 'partybusiness'
}

table, th, td {
  border: 1px solid black;
}


blockquote {
  color: black;
  font-family: 'partybusiness';
}


/* image */ 

.rounded-circle {
  float: right;
}

.imgaside {
  float: right;
  padding-left: 120px;
  padding-right: 20px;
}
.imgMordor {
  width: 25%;
  float: left;
  padding-right: 20px;
  padding-left: 50px;
}

.imgmordor2{
  width: 30%;
  float: right;
  padding-right: 20px;
}
.carousel-indicators {
  height: 30px;
}

.bdexample {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  object-fit: cover;
}

.imgaside {
  float: right;
  padding-left: 30px;
}

.rounded-circle {
  float: right;
}

.logoF {
  width: 70%;
  height: auto;

}

.map {
  float: right;
  width: 35%;
  padding-right: 30px;
}

/* card and media */

.card-header {
  background-color: #fe661d;
}

.media {
  padding: 0px 80px 0px 10px;
  
}

.badge {
  font-family: "aniron";
  margin-right: 50px;
  font-size: 1em;
  padding: 20px;
  margin-bottom: 20px;
  color: #807d78;
}

.badge:hover {
   text-decoration: underline;
  color: #fe661d;
}
.profile1 {
  padding-left: 50px;
}


/* h1 & co */

h1,h2,h4 {
  padding-top: 40px;
  padding-left: 25px;
  font-size: 1.5em;
  font-family: 'aniron';
}

h3 {
   padding-top: 30px;
   padding-left: 30px;
   font-size: 1.5em;
   font-family: 'aniron';
   
}

h5 {
  
  font-size: 1.5em;
  font-family: 'aniron';
}


/** listes **/

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

li {
  border-right: solid white 2px ;
  padding-right: 5px;

} 



/** Liens **/

a {
    text-decoration: none;
    color: white; 
    font-family: 'aniron'!important;  
}

a:hover {
    text-decoration: underline;
    color: #FFFFFF;  
}

.profile {
  color:black;
}

.profile:hover {
  color: #fe661d;
}

/** button**/

.btn {
  font-family: "aniron";
  font-size: 1em;
  color: #fe661d;
  margin-top: 10px;
}

.btn:hover {
    text-decoration: underline;
    color: #fe661d;
}
.btn5 {
  font-size: 1em!important;
  font-family: "aniron";
  color: #fe661d!important;
  margin-left: 20rem!important;


}

.btn5:hover {
    text-decoration: underline;
    color: #fe661d;
}

/* Navbar */


.bg-dark {
  background-color: #fe661d!important;
}

.nav-item {
  padding-left: 20px;
}


.nav-link {
  color: #FFFFFF!important;
}

.nav-link:hover {
  text-decoration: underline;
  color: #FFFFFF!important; 
   
}

.barre {
  color: #FFFFFF;
  padding-top: 10px;
 }

.navbar-nav {
  margin-top: 10px;

}

/* footer */

footer {
    
  line-height: 55px;    
    
}

.footerinfo {
  background-color: #fe661d; 
   padding-bottom: 20px;
  padding-top: 20px;
}



/** tengwar **/

.teng {
  font-family: 'annatar';
  color: #fe661d;
}

/**p**/



.textfellows {
  font-family: "partybusiness"!important;
  font-weight: bold;
  font-size: 1.2em;
}

/**caroussel**/ 

.Vador {
  font-size: 1.2em;
  max-height: 70px;
  margin-bottom: 60PX;
}




/**backgrounds**/

.fellows {
  background-image: url("images/bg_light.png");
  padding-bottom: 80px;
}

.contact {
  background-image: url("images/bg_dark.png");
  padding-bottom: 60px;
  padding-top: 20px;
  color: white;
}

.getreward {
  background-image: url("images/bg_dark.png");
  color: white;
  height: 400px;
}
.hunters {
  height: 350px;
  background-image: url("images/bg_light.png");
  padding-bottom: 80px;
  height: 400px;
}

.section2 {
  padding-top: 60px;
}

.section3 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.section4 {
  background-image: url("images/bg_dark.png");
  color: white;
  padding-bottom: 40px;
}

.section5 {
  height: 500px;
  background-image: url("images/bg_light.png");

  
}

.mor {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ringtab {
  margin-left: 10rem;
}
.gollum {
  margin-top: 25px;
  margin-left: 10rem;
}

.ring {
  padding-bottom: 30px;
}

.contactT {
  padding-bottom: 30px;
}

/***hr**/

hr {
  display: block;
  border-radius: 5px;
  height: 4px;
  width: 400px;
  color: #fe661d!important;
  background-color: #fe661d!important;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;

}

.btn {
  font-size: 1.5em;

}

/**table**/

th, td {
  color: black;
  font-family: 'aniron';
}
